In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('./data/test.csv', index_col=0)

In [8]:
df.head()

                                                 url  label
0                       http://minsotc.alania.gov.ru      0
1                       http://www.freejavaguide.com      0
2  http://yeneliswa.co.za/moods/bankofamerica/7dd...      1
3  https://victordahdalehfoundation.com/programme...      0
4          http://camphhsi.com/product/list_947.html      0

In [9]:
df['label']

0         0
1         0
2         1
3         0
4         0
         ..
159991    1
159992    1
159993    0
159994    1
159995    0
Name: label, Length: 159996, dtype: int64

In [10]:
from feature_engineering import get_protocol
df['https'] = df['url'].apply(lambda x: get_protocol(x))

In [11]:
df.head()

                                                 url  label  https
0                       http://minsotc.alania.gov.ru      0  False
1                       http://www.freejavaguide.com      0  False
2  http://yeneliswa.co.za/moods/bankofamerica/7dd...      1  False
3  https://victordahdalehfoundation.com/programme...      0   True
4          http://camphhsi.com/product/list_947.html      0  False

In [12]:
from evaluation import evaluate_features
protocol_results = evaluate_features(df, 'label', 0.4)

In [13]:
protocol_results

       Feature Importance (RF)  Coefficient (LR)  Accuracy (RF)  Accuracy (LR)
https                      1.0          -0.50225       0.562285       0.562285

In [14]:
df['len_url'] = df['url'].str.len()

In [15]:
df.head()

                                                 url  label  https  len_url
0                       http://minsotc.alania.gov.ru      0  False       28
1                       http://www.freejavaguide.com      0  False       28
2  http://yeneliswa.co.za/moods/bankofamerica/7dd...      1  False      180
3  https://victordahdalehfoundation.com/programme...      0   True       68
4          http://camphhsi.com/product/list_947.html      0  False       41

In [16]:
evaluate_features(df, 'label', 0.6)

,Feature Importance (RF),Coefficient (LR),Accuracy (RF),Accuracy (LR)
https,0.066025,-0.588346,0.695446,0.69205
len_url,0.933975,0.029280,0.695446,0.69205

In [17]:
def have_host_name(url: str) -> int:
    from urllib.parse import urlparse 
    hostname = urlparse(url).hostname
    # print(f'hostname:{hostname} ')
    if hostname:
        return 1
    else:
        return 0

In [18]:
df['have_host_name'] = df['url'].apply(lambda x: have_host_name(x))

In [19]:
evaluate_features(df, 'label', 0.6)

,Feature Importance (RF),Coefficient (LR),Accuracy (RF),Accuracy (LR)
https,0.069539,-0.616392,0.696425,0.693446
len_url,0.929304,0.030137,0.696425,0.693446
have_host_name,0.001157,1.647517,0.696425,0.693446

In [20]:

def has_ip_address(url):
    import re
    # Regular expression pattern to match IP addresses
    ip_pattern = r'\b(?:\d{1,3}\.){3}\d{1,3}\b'

    # Check if the URL contains an IP address
    if re.search(ip_pattern, url):
        return 1
    else:
        return 0

In [21]:
df['have_ip'] = df['url'].apply(lambda x: has_ip_address(x))

In [22]:
df[df['have_ip'] == 1][:5]

,url,label,https,len_url,have_host_name,have_ip
33,http://101.99.90.147/banks/Desjardins/1f99bbd5...,1,False,70,1,1
206,http://110.4.45.230/~med3112/System/Log/Safety...,1,False,224,1,1
250,http://69.167.151.209/files/556af810c9e769e651...,1,False,72,1,1
295,http://118.27.28.16/pc/,1,False,23,1,1
638,http://67.229.48.206/ap/signin?key=a@b.c,1,False,40,1,1

In [23]:
evaluate_features(df, 'label', 0.6)

,Feature Importance (RF),Coefficient (LR),Accuracy (RF),Accuracy (LR)
https,0.068076,-0.583425,0.696758,0.69455
len_url,0.887245,0.029286,0.696758,0.69455
have_host_name,0.000854,-0.628056,0.696758,0.69455
have_ip,0.043825,4.097034,0.696758,0.69455

In [24]:
def spec_car_count(url: str) -> int:
    sp_c = ['@','?','-','=','.','#','%','+','$','!','*',',','//']
    num_chars = sum([url.count(char)  for char in sp_c ])
    return num_chars

In [25]:
df['special_chars'] = df['url'].apply(lambda x: spec_car_count(x))

In [26]:
df.head()

,url,label,https,len_url,have_host_name,have_ip,special_chars
0,http://minsotc.alania.gov.ru,0,False,28,1,0,4
1,http://www.freejavaguide.com,0,False,28,1,0,3
2,http://yeneliswa.co.za/moods/bankofamerica/7dd...,1,False,180,1,0,9
3,https://victordahdalehfoundation.com/programme...,0,True,68,1,0,4
4,http://camphhsi.com/product/list_947.html,0,False,41,1,0,3

In [27]:
evaluate_features(df, 'label', 0.6)

,Feature Importance (RF),Coefficient (LR),Accuracy (RF),Accuracy (LR)
https,0.041852,-0.582450,0.741302,0.715238
len_url,0.717618,0.050415,0.741302,0.715238
have_host_name,0.000950,2.222806,0.741302,0.715238
have_ip,0.029481,4.826108,0.741302,0.715238
special_chars,0.210098,-0.252905,0.741302,0.715238

In [28]:
def digit_count(URL: str) -> int:
    digits = 0
    for i in URL:
        if i.isnumeric():
            digits = digits + 1
    return digits

def letters_count(URL: str) -> int:
    alphas = 0
    for i in URL:
        if i.isalpha():
            alphas = alphas + 1
    return alphas
df['digits']  = df['url'].apply(lambda x: digit_count(x))
df['letters']  = df['url'].apply(lambda x: letters_count(x))

In [29]:
evaluate_features(df, 'label', 0.7)

,Feature Importance (RF),Coefficient (LR),Accuracy (RF),Accuracy (LR)
https,0.027589,-0.511533,0.858084,0.718347
len_url,0.315775,0.023406,0.858084,0.718347
have_host_name,0.000290,-0.345220,0.858084,0.718347
have_ip,0.010121,4.153668,0.858084,0.718347
special_chars,0.133957,-0.221203,0.858084,0.718347
digits,0.260906,0.096160,0.858084,0.718347
letters,0.251363,0.014794,0.858084,0.718347

In [30]:
df['letters_to_digits'] = (df['letters'] + 1) / (df['digits'] + 1)

In [31]:
evaluate_features(df, 'label', 1)

,Feature Importance (RF),Coefficient (LR),Accuracy (RF),Accuracy (LR)
https,0.031887,-0.502004,0.851834,0.723406
len_url,0.320571,-0.002992,0.851834,0.723406
have_host_name,0.000224,-0.303299,0.851834,0.723406
have_ip,0.009501,4.255279,0.851834,0.723406
special_chars,0.149894,-0.206814,0.851834,0.723406
digits,0.175481,0.096537,0.851834,0.723406
letters,0.142767,0.050604,0.851834,0.723406
letters_to_digits,0.169674,-0.011756,0.851834,0.723406

In [32]:
print(df[df['label'] == 1].head(10)['url'])

2     http://yeneliswa.co.za/moods/bankofamerica/7dd...
8     http://zonaderegistrosenlineabnweb1.com/BNWeb/...
9                 http://froxhositng.000webhostapp.com/
10    https://emailupdate.azurewebsites.net/apple/eb...
12    https://home-onlineingservice-7c2773.ingress-c...
13    https://chase-authoririze.serveusers.com/../my...
15                     https://app-dispositivoauth.com/
21    http://facebook.com-review-notifyfvrwiamhxmm.v...
23            https://constreetyj.com/square/index2.php
24    http://nettewalter.com/znb/adobelatest/zxsguwj...
Name: url, dtype: object

In [33]:
def get_feats(url: str) -> pd.DataFrame:
    protocol = (get_protocol(url) == 'https')
    url_len = len(url)
    host_name = have_host_name(url)
    ip = has_ip_address(url)
    special_chars = spec_car_count(url)
    digits = digit_count(url)
    letters = letters_count(url)
    let_to_digs = (letters + 1) / (digits + 1)

    return pd.DataFrame({
        'https': [protocol],
        'len_url': [url_len],
        'have_host_name': [host_name],
        'have_ip': [ip],
        'special_chars': [special_chars],
        'digits': [digits],
        'letters': [letters],
        'letters_to_digits': [let_to_digs]
    })

In [34]:
fts = get_feats('http://minsotc.alania.gov.ru')

In [35]:
fts

,https,len_url,have_host_name,have_ip,special_chars,digits,letters,letters_to_digits
0,False,28,1,0,4,0,22,23.0

In [36]:
# from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [37]:
df.dropna(inplace=True)

In [38]:
X = df.drop(['url', 'label'], axis= 1)
y = df['label']

In [39]:
X.head()

,https,len_url,have_host_name,have_ip,special_chars,digits,letters,letters_to_digits
0,False,28,1,0,4,0,22,23.000000
1,False,28,1,0,3,0,23,24.000000
2,False,180,1,0,9,50,112,2.215686
3,True,68,1,0,4,0,59,60.000000
4,False,41,1,0,3,3,30,7.750000

In [40]:
rf1 = RandomForestClassifier(n_jobs=-1)
rf1.fit(X, y)

RandomForestClassifier(n_jobs=-1)

In [41]:
print(classification_report(y, rf1.predict(X)))

              precision    recall  f1-score   support

           0       0.79      0.92      0.85     79998
           1       0.90      0.76      0.83     79998

    accuracy                           0.84    159996
   macro avg       0.85      0.84      0.84    159996
weighted avg       0.85      0.84      0.84    159996

In [42]:
def predict_url(url: str) -> str:
    pred = rf1.predict(get_feats(url)).item()
    return 'safe' if pred == 0 else 'PHISHING'

In [43]:
print(predict_url('https://app-dispositivoauth.com/'))

safe

In [44]:
from urllib.parse import urlparse

In [45]:
urlparse('https://home-onlineingservice-7c2773.ingress-c/')

ParseResult(scheme='https', netloc='home-onlineingservice-7c2773.ingress-c', path='/', params='', query='', fragment='')

### notes
1. try netloc length
2. try totally removing length
3. try manually adding results from google searches and other lengthy urls
4. try google index
5. try other models
6. try deep learning \\ for last
7. try special characters to url length 
8. try path lengths

In [46]:
def netloc_length(url):
    parsed_url = urlparse(url)
    netloc_length = len(parsed_url.netloc)
    return netloc_length

In [47]:
print(netloc_length('https://home-onlineingservice-7c2773.ingress-c/'))

38

In [48]:
df['netloc_length'] = df['url'].apply(lambda x: netloc_length(x))

In [49]:
evaluate_features(df, 'label', 1)

,Feature Importance (RF),Coefficient (LR),Accuracy (RF),Accuracy (LR)
https,0.025023,-0.441863,0.930398,0.747831
len_url,0.226246,0.237769,0.930398,0.747831
have_host_name,0.000141,-1.342601,0.930398,0.747831
have_ip,0.008258,4.308397,0.930398,0.747831
special_chars,0.113208,-0.423752,0.930398,0.747831
digits,0.125377,-0.142366,0.930398,0.747831
letters,0.108112,-0.223129,0.930398,0.747831
letters_to_digits,0.134062,-0.006018,0.930398,0.747831
netloc_length,0.259573,0.093736,0.930398,0.747831

In [50]:
df['char_to_len'] = df['special_chars'] / df['len_url']

In [51]:
evaluate_features(df, 'label', 1)

,Feature Importance (RF),Coefficient (LR),Accuracy (RF),Accuracy (LR)
https,0.025419,-0.433883,0.928698,0.748331
len_url,0.141999,0.239104,0.928698,0.748331
have_host_name,0.000077,-1.317413,0.928698,0.748331
have_ip,0.008128,4.047368,0.928698,0.748331
special_chars,0.038112,-0.428663,0.928698,0.748331
digits,0.124785,-0.144548,0.928698,0.748331
letters,0.111234,-0.224910,0.928698,0.748331
letters_to_digits,0.125017,-0.006716,0.928698,0.748331
netloc_length,0.275017,0.094128,0.928698,0.748331
char_to_len,0.150212,-0.189119,0.928698,0.748331

In [52]:
df2 = df.drop(columns=['len_url','char_to_len'])

In [53]:
df.head()

,url,label,https,len_url,have_host_name,have_ip,special_chars,digits,letters,letters_to_digits,netloc_length,char_to_len
0,http://minsotc.alania.gov.ru,0,False,28,1,0,4,0,22,23.000000,21,0.142857
1,http://www.freejavaguide.com,0,False,28,1,0,3,0,23,24.000000,21,0.107143
2,http://yeneliswa.co.za/moods/bankofamerica/7dd...,1,False,180,1,0,9,50,112,2.215686,15,0.050000
3,https://victordahdalehfoundation.com/programme...,0,True,68,1,0,4,0,59,60.000000,28,0.058824
4,http://camphhsi.com/product/list_947.html,0,False,41,1,0,3,3,30,7.750000,12,0.073171

In [54]:
df.to_csv('data/test_data_with_len.csv', index=False)

In [55]:
df2.to_csv('data/test_data_without_urllen.csv', index=False)

Team Tasks: 
 - Tala : 
 1. take all code that is used to create features and bundle them into a function e.g. (a function that returns the url length given a feature and so on for all features) and put the functions in feature_engineering.py file
 2. create one big function that utilize all the functions you created in the feature engineering file that transforms the whole data frame to the 
 format we need (have all the features we want)

 - Thuraya:
 1. train models (ensemble models e.g (random forest) or probabilistic models (naive bayes)) on both on data with length file and  data with no url length file. 
 2. save the resulting best models (one for each data set).
 3. write a report telling what model was better and the accuracy precion and recall of the model

 - Batayneh: 
 1. load and evaluate models on test set
 2. write a function that extracts feature from a single url
 3. deploy model to hugging face

In [56]:
import pandas as pd 
from preprocessing import * 

def get_feats(url: str, url_len = True) -> pd.DataFrame:
    protocol = (get_protocol(url) == 'https')
    url_len = len(url)
    host_name = have_host_name(url)
    ip = has_ip_address(url)
    special_chars = spec_car_count(url)
    digits = digit_count(url)
    letters = letters_count(url)
    let_to_digs = (letters + 1) / (digits + 1)
    netloc_len = netloc_length(url)
    specials_to_len = (special_chars + 1) / (url_len + 1)
    

    return pd.DataFrame({
        'https': [protocol],
        'len_url': [url_len],
        'have_host_name': [host_name],
        'have_ip': [ip],
        'special_chars': [special_chars],
        'digits': [digits],
        'letters': [letters],
        'letters_to_digits': [let_to_digs],
        'netloc_length' : [netloc_len],
        'char_to_len': [spec_to_len]
        
    })

In [57]:
feats = pd.DataFrame(columns=['https', 'len_url', 'have_host_name', 'have_ip', 'special_chars', 'digits', 'letters', 'letters_to_digits'])

In [58]:
for i in ['www.hooof.com', 'www.facebook.com', 'www.2342.com']:
    temp = get_feats(i)
    feats = pd.concat([feats, temp], axis=0, )

C:\Users\mohdl\AppData\Local\Temp\ipykernel_18408\686273373.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  feats = pd.concat([feats, temp], axis=0, )

In [59]:
dfc = pd.DataFrame({
        'https': [1],
        'len_url': [1],
        'have_host_name': [1],
        'have_ip': [1],
        'special_chars': [1],
        'digits': [1],
        'letters': [1],
        'letters_to_digits': [1],
        'netloc_length' : [1],
        'char_to_len': [1]
        
    })

In [60]:
dfc.columns

Index(['https', 'len_url', 'have_host_name', 'have_ip', 'special_chars',
       'digits', 'letters', 'letters_to_digits', 'netloc_length',
       'char_to_len'],
      dtype='object')

In [61]:
import pandas as pd
dft = pd.read_csv('data/test.csv', index_col=0)

In [62]:
dft.head()

                                                 url  label
0                       http://minsotc.alania.gov.ru      0
1                       http://www.freejavaguide.com      0
2  http://yeneliswa.co.za/moods/bankofamerica/7dd...      1
3  https://victordahdalehfoundation.com/programme...      0
4          http://camphhsi.com/product/list_947.html      0

In [63]:
df['label']

0         0
1         0
2         1
3         0
4         0
         ..
159991    1
159992    1
159993    0
159994    1
159995    0
Name: label, Length: 159996, dtype: int64

In [ ]:
# def build_df(df):
#     df_full = pd.DataFrame(columns=['https', 'len_url', 'have_host_name', 'have_ip', 'special_chars',
#        'digits', 'letters', 'letters_to_digits', 'netloc_length',
#        'char_to_len'])
    
#     for i, r in df.iterrows():

#         temp = get_feats(r['url'])

#         df_full = pd.concat([df_full, temp], axis=0)
    
#     df_full['labels'] = df['label']
#     return df_full

# datat = build_df(dft)

C:\Users\mohdl\AppData\Local\Temp\ipykernel_15944\2406012447.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_full = pd.concat([df_full, temp], axis=0)

In [64]:
datat.head()

NameError: name 'datat' is not defined

In [ ]:
datat = pd.read_csv('data/t_data.csv')
datat.head()

,https,len_url,have_host_name,have_ip,special_chars,digits,letters,letters_to_digits,netloc_length,char_to_len,labels
0,False,28,1,0,4,0,22,23.000000,21,0.172414,0
1,False,28,1,0,3,0,23,24.000000,21,0.137931,0
2,False,180,1,0,9,50,112,2.215686,15,0.055249,0
3,False,68,1,0,4,0,59,60.000000,28,0.072464,0
4,False,41,1,0,3,3,30,7.750000,12,0.095238,0

In [ ]:
datat['labels'] = df['label']

In [ ]:
datat['url'] = dft.url

In [ ]:
datat.head()

,https,len_url,have_host_name,have_ip,special_chars,digits,letters,letters_to_digits,netloc_length,char_to_len,labels,url
0,False,28,1,0,4,0,22,23.000000,21,0.172414,0,http://minsotc.alania.gov.ru
1,False,28,1,0,3,0,23,24.000000,21,0.137931,0,http://www.freejavaguide.com
2,False,180,1,0,9,50,112,2.215686,15,0.055249,1,http://yeneliswa.co.za/moods/bankofamerica/7dd...
3,False,68,1,0,4,0,59,60.000000,28,0.072464,1,https://victordahdalehfoundation.com/programme...
4,False,41,1,0,3,3,30,7.750000,12,0.095238,0,http://camphhsi.com/product/list_947.html

In [ ]:
datat.to_csv('data/t_data.csv', index=False)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rfc = RandomForestClassifier()