In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('./data/train.csv', index_col=0)

In [20]:
df.head()

                                                 url  label
0                        https://blog.sockpuppet.us/      0
1                  https://blog.apiki.com/seguranca/      0
2  http://autoecole-lauriston.com/a/T0RVd056QXlNe...      1
3  http://chinpay.site/index.html?hgcFSE@E$Z*DFcG...      1
4  http://www.firstfivenebraska.org/blog/article/...      0

In [21]:
df['label']

0         0
1         0
2         1
3         1
4         0
         ..
639983    1
639984    0
639985    1
639986    0
639987    0
Name: label, Length: 639988, dtype: int64

In [22]:
from feature_engineering import get_protocol
df['https'] = df['url'].apply(lambda x: get_protocol(x))

In [23]:
df.head()

                                                 url  label  https
0                        https://blog.sockpuppet.us/      0   True
1                  https://blog.apiki.com/seguranca/      0   True
2  http://autoecole-lauriston.com/a/T0RVd056QXlNe...      1  False
3  http://chinpay.site/index.html?hgcFSE@E$Z*DFcG...      1  False
4  http://www.firstfivenebraska.org/blog/article/...      0  False

In [24]:
from evaluation import evaluate_features
protocol_results = evaluate_features(df, 'label', 0.4)

In [25]:
protocol_results

       Feature Importance (RF)  Coefficient (LR)  Accuracy (RF)  Accuracy (LR)
https                      1.0         -0.515567       0.563896       0.563896

In [26]:
df['len_url'] = df['url'].str.len()

In [27]:
df.head()

                                                 url  label  https  len_url
0                        https://blog.sockpuppet.us/      0   True       27
1                  https://blog.apiki.com/seguranca/      0   True       33
2  http://autoecole-lauriston.com/a/T0RVd056QXlNe...      1  False       58
3  http://chinpay.site/index.html?hgcFSE@E$Z*DFcG...      1  False       74
4  http://www.firstfivenebraska.org/blog/article/...      0  False       80

In [28]:
evaluate_features(df, 'label', 0.6)

,Feature Importance (RF),Coefficient (LR),Accuracy (RF),Accuracy (LR)
https,0.067997,-0.593637,0.695049,0.693002
len_url,0.932003,0.030160,0.695049,0.693002

In [29]:
def have_host_name(url: str) -> int:
    from urllib.parse import urlparse 
    hostname = urlparse(url).hostname
    # print(f'hostname:{hostname} ')
    if hostname:
        return 1
    else:
        return 0

In [30]:
df['have_host_name'] = df['url'].apply(lambda x: have_host_name(x))

In [31]:
evaluate_features(df, 'label', 0.6)

,Feature Importance (RF),Coefficient (LR),Accuracy (RF),Accuracy (LR)
https,0.071453,-0.609265,0.695164,0.692857
len_url,0.927406,0.029730,0.695164,0.692857
have_host_name,0.001141,3.079603,0.695164,0.692857

In [32]:

def has_ip_address(url):
    import re
    # Regular expression pattern to match IP addresses
    ip_pattern = r'\b(?:\d{1,3}\.){3}\d{1,3}\b'

    # Check if the URL contains an IP address
    if re.search(ip_pattern, url):
        return 1
    else:
        return 0

In [33]:
df['have_ip'] = df['url'].apply(lambda x: has_ip_address(x))

In [34]:
df[df['have_ip'] == 1][:5]

,url,label,https,len_url,have_host_name,have_ip
63,http://206.189.87.184/online/ATB/e72b077015b27...,1,False,66,1,1
116,https://173.82.16.76/,1,True,21,1,1
128,http://185.61.148.33/banks/cibc/ebm-mobile-app...,1,False,57,1,1
417,http://192.241.153.144/directing/www.atbonline...,1,False,69,1,1
537,http://68.183.72.218/transf/directing/www.cibc...,1,False,92,1,1

In [35]:
evaluate_features(df, 'label', 0.6)

,Feature Importance (RF),Coefficient (LR),Accuracy (RF),Accuracy (LR)
https,0.063473,-0.560345,0.700284,0.698575
len_url,0.894435,0.030289,0.700284,0.698575
have_host_name,0.000858,2.302427,0.700284,0.698575
have_ip,0.041234,4.737794,0.700284,0.698575

In [36]:
def spec_car_count(url: str) -> int:
    sp_c = ['@','?','-','=','.','#','%','+','$','!','*',',','//']
    num_chars = sum([url.count(char)  for char in sp_c ])
    return num_chars

In [37]:
df['special_chars'] = df['url'].apply(lambda x: spec_car_count(x))

In [38]:
df.head()

,url,label,https,len_url,have_host_name,have_ip,special_chars
0,https://blog.sockpuppet.us/,0,True,27,1,0,3
1,https://blog.apiki.com/seguranca/,0,True,33,1,0,3
2,http://autoecole-lauriston.com/a/T0RVd056QXlNe...,1,False,58,1,0,5
3,http://chinpay.site/index.html?hgcFSE@E$Z*DFcG...,1,False,74,1,0,7
4,http://www.firstfivenebraska.org/blog/article/...,0,False,80,1,0,8

In [39]:
evaluate_features(df, 'label', 0.6)

,Feature Importance (RF),Coefficient (LR),Accuracy (RF),Accuracy (LR)
https,0.045111,-0.573253,0.731769,0.712404
len_url,0.720187,0.049400,0.731769,0.712404
have_host_name,0.000548,2.240197,0.731769,0.712404
have_ip,0.031623,4.877968,0.731769,0.712404
special_chars,0.202531,-0.228135,0.731769,0.712404

In [40]:
def digit_count(URL: str) -> int:
    digits = 0
    for i in URL:
        if i.isnumeric():
            digits = digits + 1
    return digits

def letters_count(URL: str) -> int:
    alphas = 0
    for i in URL:
        if i.isalpha():
            alphas = alphas + 1
    return alphas
df['digits']  = df['url'].apply(lambda x: digit_count(x))
df['letters']  = df['url'].apply(lambda x: letters_count(x))

In [41]:
evaluate_features(df, 'label', 0.7)

,Feature Importance (RF),Coefficient (LR),Accuracy (RF),Accuracy (LR)
https,0.028535,-0.512227,0.833072,0.720204
len_url,0.314153,0.018921,0.833072,0.720204
have_host_name,0.000257,-0.387750,0.833072,0.720204
have_ip,0.011924,4.359295,0.833072,0.720204
special_chars,0.136940,-0.215159,0.833072,0.720204
digits,0.272211,0.100729,0.833072,0.720204
letters,0.235979,0.020889,0.833072,0.720204

In [42]:
df['letters_to_digits'] = (df['letters'] + 1) / (df['digits'] + 1)

In [43]:
evaluate_features(df, 'label', 1)

,Feature Importance (RF),Coefficient (LR),Accuracy (RF),Accuracy (LR)
https,0.031293,-0.500332,0.829181,0.72231
len_url,0.322755,0.003950,0.829181,0.72231
have_host_name,0.000219,-0.334150,0.829181,0.72231
have_ip,0.010128,4.227864,0.829181,0.72231
special_chars,0.147756,-0.203070,0.829181,0.72231
digits,0.188418,0.090783,0.829181,0.72231
letters,0.134549,0.042342,0.829181,0.72231
letters_to_digits,0.164881,-0.011119,0.829181,0.72231

In [44]:
print(df[df['label'] == 1].head(10)['url'])

2     http://autoecole-lauriston.com/a/T0RVd056QXlNe...
3     http://chinpay.site/index.html?hgcFSE@E$Z*DFcG...
6                           https://maiiatt.weebly.com/
8     http://vmorefraud.com/neaca/newyear/xb/2fa960a...
11    https://dallasoutsmart.co.kr/tx/dieseltax/tax/...
15      https://www.newpayee-verifyonline.com/Login.php
19    https://commercial.coogeepaintingdecorating.co...
20    http://fepro.cs.buap.mx/2013/administrator/tem...
21               https://eltelegraph.com/acc/newdir.php
22                  https://www.grupbokep26.mywire.org/
Name: url, dtype: object

In [45]:
def get_feats(url: str) -> pd.DataFrame:
    protocol = (get_protocol(url) == 'https')
    url_len = len(url)
    host_name = have_host_name(url)
    ip = has_ip_address(url)
    special_chars = spec_car_count(url)
    digits = digit_count(url)
    letters = letters_count(url)
    let_to_digs = (letters + 1) / (digits + 1)

    return pd.DataFrame({
        'https': [protocol],
        'len_url': [url_len],
        'have_host_name': [host_name],
        'have_ip': [ip],
        'special_chars': [special_chars],
        'digits': [digits],
        'letters': [letters],
        'letters_to_digits': [let_to_digs]
    })

In [46]:
fts = get_feats('http://minsotc.alania.gov.ru')

In [47]:
fts

,https,len_url,have_host_name,have_ip,special_chars,digits,letters,letters_to_digits
0,False,28,1,0,4,0,22,23.0

In [48]:
# from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [49]:
df.dropna(inplace=True)

In [50]:
X = df.drop(['url', 'label'], axis= 1)
y = df['label']

In [51]:
X.head()

,https,len_url,have_host_name,have_ip,special_chars,digits,letters,letters_to_digits
0,True,27,1,0,3,0,21,22.000000
1,True,33,1,0,3,0,26,27.000000
2,False,58,1,0,5,6,42,6.142857
3,False,74,1,0,7,0,64,65.000000
4,False,80,1,0,8,2,65,22.000000

In [52]:
rf1 = RandomForestClassifier(n_jobs=-1)
rf1.fit(X, y)

RandomForestClassifier(n_jobs=-1)

In [53]:
print(classification_report(y, rf1.predict(X)))

              precision    recall  f1-score   support

           0       0.78      0.90      0.83    319993
           1       0.88      0.74      0.80    319995

    accuracy                           0.82    639988
   macro avg       0.83      0.82      0.82    639988
weighted avg       0.83      0.82      0.82    639988

In [54]:
def predict_url(url: str) -> str:
    pred = rf1.predict(get_feats(url)).item()
    return 'safe' if pred == 0 else 'PHISHING'

In [55]:
print(predict_url('https://app-dispositivoauth.com/'))

safe

In [56]:
from urllib.parse import urlparse

In [57]:
urlparse('https://home-onlineingservice-7c2773.ingress-c/')

ParseResult(scheme='https', netloc='home-onlineingservice-7c2773.ingress-c', path='/', params='', query='', fragment='')

### notes
1. try netloc length
2. try totally removing length
3. try manually adding results from google searches and other lengthy urls
4. try google index
5. try other models
6. try deep learning \\ for last
7. try special characters to url length 
8. try path lengths

In [58]:
def netloc_length(url):
    parsed_url = urlparse(url)
    netloc_length = len(parsed_url.netloc)
    return netloc_length

In [59]:
print(netloc_length('https://home-onlineingservice-7c2773.ingress-c/'))

38

In [60]:
df['netloc_length'] = df['url'].apply(lambda x: netloc_length(x))

In [61]:
evaluate_features(df, 'label', 1)

,Feature Importance (RF),Coefficient (LR),Accuracy (RF),Accuracy (LR)
https,0.026304,-0.462886,0.906142,0.750313
len_url,0.235046,0.222870,0.906142,0.750313
have_host_name,0.000125,-1.337599,0.906142,0.750313
have_ip,0.009750,4.497858,0.906142,0.750313
special_chars,0.112007,-0.422595,0.906142,0.750313
digits,0.137873,-0.129451,0.906142,0.750313
letters,0.101079,-0.202747,0.906142,0.750313
letters_to_digits,0.126329,-0.008434,0.906142,0.750313
netloc_length,0.251486,0.091294,0.906142,0.750313

In [62]:
df['char_to_len'] = df['special_chars'] / df['len_url']

In [63]:
evaluate_features(df, 'label', 1)

,Feature Importance (RF),Coefficient (LR),Accuracy (RF),Accuracy (LR)
https,0.026088,-0.453424,0.907129,0.749416
len_url,0.141550,0.217558,0.907129,0.749416
have_host_name,0.000093,-1.329997,0.907129,0.749416
have_ip,0.010093,4.676362,0.907129,0.749416
special_chars,0.035076,-0.415622,0.907129,0.749416
digits,0.136907,-0.123251,0.907129,0.749416
letters,0.107700,-0.197662,0.907129,0.749416
letters_to_digits,0.123820,-0.007846,0.907129,0.749416
netloc_length,0.270662,0.091283,0.907129,0.749416
char_to_len,0.148011,-0.034641,0.907129,0.749416

In [65]:
df2 = df.drop(columns=['len_url','char_to_len'])

In [71]:
df.head()

,url,label,https,len_url,have_host_name,have_ip,special_chars,digits,letters,letters_to_digits,netloc_length,char_to_len
0,https://blog.sockpuppet.us/,0,True,27,1,0,3,0,21,22.000000,18,0.111111
1,https://blog.apiki.com/seguranca/,0,True,33,1,0,3,0,26,27.000000,14,0.090909
2,http://autoecole-lauriston.com/a/T0RVd056QXlNe...,1,False,58,1,0,5,6,42,6.142857,23,0.086207
3,http://chinpay.site/index.html?hgcFSE@E$Z*DFcG...,1,False,74,1,0,7,0,64,65.000000,12,0.094595
4,http://www.firstfivenebraska.org/blog/article/...,0,False,80,1,0,8,2,65,22.000000,25,0.100000

In [72]:
df.to_csv('data/data_with_len.csv', index=False)

In [73]:
df2.to_csv('data/data_without_urllen.csv', index=False)

Team Tasks: 
 - Tala : 
 1. take all code that is used to create features and bundle them into a function e.g. (a function that returns the url length given a feature and so on for all features) and put the functions in feature_engineering.py file
 2. create one big function that utilize all the functions you created in the feature engineering file that transforms the whole data frame to the 
 format we need (have all the features we want)

 - Thuraya:
 1. train models (ensemble models e.g (random forest) or probabilistic models (naive bayes)) on both on data with length file and  data with no url length file. 
 2. save the resulting best models (one for each data set).
 3. write a report telling what model was better and the accuracy precion and recall of the model

 - Batayneh: 
 1. load and evaluate models on test set
 2. write a function that extracts feature from a single url
 3. deploy model to hugging face

In [2]:
import pandas as pd 
from preprocessing import * 

def get_feats(url: str, url_len = True) -> pd.DataFrame:
    protocol = (get_protocol(url) == 'https')
    url_len = len(url)
    host_name = have_host_name(url)
    ip = has_ip_address(url)
    special_chars = spec_car_count(url)
    digits = digit_count(url)
    letters = letters_count(url)
    let_to_digs = (letters + 1) / (digits + 1)
    netloc_len = netloc_length(url)
    specials_to_len = (special_chars + 1) / (url_len + 1)
    

    return pd.DataFrame({
        'https': [protocol],
        'len_url': [url_len],
        'have_host_name': [host_name],
        'have_ip': [ip],
        'special_chars': [special_chars],
        'digits': [digits],
        'letters': [letters],
        'letters_to_digits': [let_to_digs],
        'netloc_length' : [netloc_len],
        'char_to_len': [spec_to_len]
        
    })

In [12]:
feats = pd.DataFrame(columns=['https', 'len_url', 'have_host_name', 'have_ip', 'special_chars', 'digits', 'letters', 'letters_to_digits'])

In [13]:
for i in ['www.hooof.com', 'www.facebook.com', 'www.2342.com']:
    temp = get_feats(i)
    feats = pd.concat([feats, temp], axis=0, )

C:\Users\mohdl\AppData\Local\Temp\ipykernel_31388\686273373.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  feats = pd.concat([feats, temp], axis=0, )

,https,len_url,have_host_name,have_ip,special_chars,digits,letters,letters_to_digits
0,False,13,0,0,2,0,11,12.0
0,False,16,0,0,2,0,14,15.0
0,False,12,0,0,2,4,6,1.4

In [16]:
dfc = pd.DataFrame({
        'https': [1],
        'len_url': [1],
        'have_host_name': [1],
        'have_ip': [1],
        'special_chars': [1],
        'digits': [1],
        'letters': [1],
        'letters_to_digits': [1],
        'netloc_length' : [1],
        'char_to_len': [1]
        
    })

In [17]:
dfc.columns

Index(['https', 'len_url', 'have_host_name', 'have_ip', 'special_chars',
       'digits', 'letters', 'letters_to_digits', 'netloc_length',
       'char_to_len'],
      dtype='object')

In [7]:
import pandas as pd
dft = pd.read_csv('data/test.csv', index_col=0)

In [8]:
dft.head()

                                                 url  label
0                       http://minsotc.alania.gov.ru      0
1                       http://www.freejavaguide.com      0
2  http://yeneliswa.co.za/moods/bankofamerica/7dd...      1
3  https://victordahdalehfoundation.com/programme...      0
4          http://camphhsi.com/product/list_947.html      0

In [11]:
df['label']

0         0
1         0
2         1
3         1
4         0
         ..
639983    1
639984    0
639985    1
639986    0
639987    0
Name: label, Length: 639988, dtype: int64

In [20]:
def build_df(df):
    df_full = pd.DataFrame(columns=['https', 'len_url', 'have_host_name', 'have_ip', 'special_chars',
       'digits', 'letters', 'letters_to_digits', 'netloc_length',
       'char_to_len'])
    
    for i, r in df.iterrows():

        temp = get_feats(r['url'])

        df_full = pd.concat([df_full, temp], axis=0)
    
    df_full['labels'] = df['label']
    return df_full

datat = build_df(dft)

C:\Users\mohdl\AppData\Local\Temp\ipykernel_15944\2406012447.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_full = pd.concat([df_full, temp], axis=0)

In [21]:
datat.head()

,https,len_url,have_host_name,have_ip,special_chars,digits,letters,letters_to_digits,netloc_length,char_to_len,labels
0,False,28,1,0,4,0,22,23.000000,21,0.172414,0
0,False,28,1,0,3,0,23,24.000000,21,0.137931,0
0,False,180,1,0,9,50,112,2.215686,15,0.055249,0
0,False,68,1,0,4,0,59,60.000000,28,0.072464,0
0,False,41,1,0,3,3,30,7.750000,12,0.095238,0

In [12]:
datat = pd.read_csv('data/t_data.csv')
datat.head()

,https,len_url,have_host_name,have_ip,special_chars,digits,letters,letters_to_digits,netloc_length,char_to_len,labels
0,False,28,1,0,4,0,22,23.000000,21,0.172414,0
1,False,28,1,0,3,0,23,24.000000,21,0.137931,0
2,False,180,1,0,9,50,112,2.215686,15,0.055249,0
3,False,68,1,0,4,0,59,60.000000,28,0.072464,0
4,False,41,1,0,3,3,30,7.750000,12,0.095238,0

In [13]:
datat['labels'] = df['label']

In [15]:
datat['url'] = dft.url

In [16]:
datat.head()

,https,len_url,have_host_name,have_ip,special_chars,digits,letters,letters_to_digits,netloc_length,char_to_len,labels,url
0,False,28,1,0,4,0,22,23.000000,21,0.172414,0,http://minsotc.alania.gov.ru
1,False,28,1,0,3,0,23,24.000000,21,0.137931,0,http://www.freejavaguide.com
2,False,180,1,0,9,50,112,2.215686,15,0.055249,1,http://yeneliswa.co.za/moods/bankofamerica/7dd...
3,False,68,1,0,4,0,59,60.000000,28,0.072464,1,https://victordahdalehfoundation.com/programme...
4,False,41,1,0,3,3,30,7.750000,12,0.095238,0,http://camphhsi.com/product/list_947.html

In [17]:
datat.to_csv('data/t_data.csv', index=False)

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rfc = RandomForestClassifier()